<template>
  <div>
      GITLAB
  </div>
</template>

<script>
import store from '../store'
import axios from 'axios'

export default {
  name: 'Gitlab',
  data: () => ({
    jenkinsUrl: null,
    poolInterval: 10000,
    currentData: [],
    previousData: [],
    gitlab: null

  }),
  methods: {
    async poolGitlab () {
    }
  },
  async created () {
    this.gitlab = {
      url: store.state.protectedData.gitlab.url + '/api/v4',
      token: store.state.protectedData.gitlab.token
    }
    console.log(await axios.get(this.gitlab.url + '/namespaces', {
      headers: {
        'PRIVATE-TOKEN': this.gitlab.token
      }
    }))
    this.poolGitlab()
    this.updateIntervalId = setInterval(async () => {
      this.poolGitlab()
    }, this.poolInterval)
  },
  beforeDestroy () {
    if (this.updateIntervalId) clearInterval(this.updateIntervalId)
  }
}
</script>

<style scoped>
</style>
