<template>
  <div>
      JENKINS
  </div>
</template>

<script>
import store from '../store'
import {proxyGet} from '../utils'

export default {
  name: 'JenkinsStatus',
  data: () => ({
    jenkinsUrl: null,
    poolInterval: 10000,
    currentData: [],
    previousData: []
  }),
  methods: {
    async poolJenkins () {
      this.previousData = this.currentData
      this.currentData = await proxyGet(store.state.protectedData.jenkins.hostname, this.apify(store.state.protectedData.jenkins.path))
    },
    apify (url) {
      return url + 'api/json'
    }
  },
  created () {
    this.poolJenkins()
    this.updateIntervalId = setInterval(async () => {
      this.poolJenkins()
    }, this.poolInterval)
  },
  beforeDestroy () {
    if (this.updateIntervalId) clearInterval(this.updateIntervalId)
  }
}
</script>

<style scoped>
</style>
