<template>
</template>

<script>
import store from '../store'
import {slackIncoming, speak} from './actions.js'

let schedule = require('node-schedule')
let workDays = [1, 2, 3, 4, 5]

export default {
  name: 'Schedule',
  data: () => ({
    events: [
      // {
      //   when: '* * * * *',
      //   data: {
      //     speak: { msg: 'Test message.' },
      //     slack: {
      //       msg: 'This is a test message.',
      //       url: store.state.protectedData.me
      //     }
      //   },
      //   actions: [slackIncoming, speak]
      // },
      {
        when: { hour: 10, minute: 10, dayOfWeek: workDays },
        data: {
          speak: { msg: 'Daily in five minutes.' },
          slack: {
            msg: 'Daily starts in five minutes.',
            url: store.state.protectedData.me
          }
        },
        actions: [slackIncoming, speak]
      },
      {
        when: { hour: 10, minute: 15, dayOfWeek: workDays },
        data: {
          speak: { msg: 'Daily Time!' }
        },
        actions: [speak]
      },
      {
        when: { hour: 10, minute: 25, dayOfWeek: workDays },
        data: {
          speak: { msg: 'Daily ends in 5 minutes.' }
        },
        actions: [speak]
      },
      {
        when: { hour: 10, minute: 30, dayOfWeek: workDays },
        data: {
          speak: { msg: 'Daily. Done.' }
        },
        actions: [speak]
      }
    ]
  }),
  methods: {
    async setupTasks () {
      this.events.forEach((e) => {
        schedule.scheduleJob(e.when, () => {
          if (e.actions) {
            e.actions.forEach((action) => {
              action(e.data)
            })
          }
        })
        // TODO: Save registered jobs to show data to user
      })
    }
  },
  created () {
    this.setupTasks()
  }
}
</script>

<style scoped>
</style>
