<template>
  <div>
      <div class="row">
        <h1 class="big-text text-center border"> 
          {{time.format('HH:mm')}}
        </h1>
      </div>
      <div class="row">
        <h3 class="medium-text text-center border">
          {{time.format('MMMM Do YYYY')}}
        </h3>
      </div>
  </div>
</template>

<script>
import store from '../store'

export default {
  name: 'ddTime',
  data: () => ({
    time: {}
  }),
  methods: {
    updateTime () {
      store.commit('incrementTime')
      this.time = store.state.time
    }
  },
  created () {
    this.updateTime()
    this.updateIntervalId = setInterval(async () => {
      this.updateTime()
    }, 1000)
  },
  beforeDestroy () {
    if (this.updateIntervalId) clearInterval(this.updateIntervalId)
  }
}
</script>

<style scoped>
.big-text {
  font-size: 160px;
}
.medium-text {
  font-size: 40px;
}
.border {
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
</style>
