<template>
  <div class="page-center" :style="{ 'background-image': 'url(' + background + ')', 'background-size': 'cover', 'opacity': opacity }" id="app">
    <div class="row">
      <JenkinsStatus></JenkinsStatus>
      <Gitlab></Gitlab>
      <ddTime></ddTime>
      <Schedule></Schedule>
    </div>
  </div>
</template>

<script>
import ddTime from './components/Time.vue'
import Schedule from './components/Schedule.vue'
import JenkinsStatus from './components/JenkinsStatus.vue'
import Gitlab from './components/Gitlab.vue'
import Unsplash, { toJson } from 'unsplash-js'
import store from './store'

const unsplash = new Unsplash(store.state.protectedData.unsplash)

export default {
  name: 'app',
  components: { ddTime, Schedule, JenkinsStatus, Gitlab },
  data: () => ({
    background: require('./assets/def-bg.jpg'),
    opacity: 100
  }),
  methods: {
    async getBackgroundPhoto() {
      unsplash.photos.getRandomPhoto({ query: 'sky, bright' })
        .then(toJson)
        .then((json) => {
          console.log(json)
          // TODO: BG manipulation by opacity maybe?
          this.background = json.urls.regular
        })
    }
  },
  async created() {
    // TODO: Smooth transition AND sometimes bg is black and so letters are as well
    this.getBackgroundPhoto()
  }
}
</script>

<style>

.page-center {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
}
</style>
